.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;

  justify-content: center;
  align-items: center;
}
.logo-icon {
  font-size: 3rem;
  margin-right: 0.2rem;
  font-weight: 600;
}
.logo h2 {
  font-size: 1.4rem;
}
.navbar__user-account {
  display: flex;
  align-items: center;
}
.navbar__user-account h3 {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.navbar__user-account div {
  position: relative;
  margin-right: 1rem;
}
.user-icon {
  font-size: 1.7rem;
}
.navbar__user-account div span {
  position: absolute;
  top: -1rem;
  left: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue-primary-dark);
  color: var(--white-color);
  font-size: 1rem;
}
